.feed-img {
    width: 100px;
    height: 100px;
}

.feed-container {
    border: 1px solid silver;
    margin: 5px;
}

.search-container {
    padding: 5px;
}

.feed-list-container {
    height: 300px;
    overflow-y: auto;
}
